//@use './variables'; => kan geen kwaad want use gaat niet dubbel importen

// imports van google fonts =>
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
// heel belangrijk => alles via https
// import van icon-font => fontello
// @import url("../fonts/icon/icon.css");
// import van eigen font => transfonter/fontsquirel
// @import url("../fonts/fordantenna/stylesheet.css");
// typekit => met JS
// websafe => fonts dat
