@mixin button($bw, $c) {
  background-color: $c;
  border: {
    color: white;
    style: solid;
    width: 5px;
  }
  color: #fff;
  font-family: "Ford Antenna";
  font-size: 20px;
  padding: 10px;
}

@mixin make-col($cols, $gap) {
  display: flex;
  flex-wrap: wrap;

  > *:nth-child(1n + 0) {
    margin: 0 $gap $gap 0;
    width: calc((100% - #{($cols - 1) * $gap}) / #{$cols});
  }

  > *:nth-child(#{$cols}n + 0) {
    margin-right: 0;
  }
}

%responsive {
  display: block;
  width: 100%;
  height: auto;
}
