@use "./base/mixins" as *;
@use "./base/variables" as *;
@use "./base/reset";
@use "./base/fonts";
@use "../icons/style.css";

html {
  font-size: 62.5%;
}

$oranje: orange;
body {
  margin: 10px;
}
h1 {
  color: $oranje;
  font-size: 30px;
  margin: 50px 0;
}
